body{
    background-image: url("https://images.unsplash.com/photo-1643208589889-0735ad7218f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG5ldGZsaXh8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-repeat: no-repeat;
    height:100%;
    background-size: cover;
    max-width:100%;
    font-size: small;
    background-attachment: fixed;
  

}
.netflix{
    margin:3% auto 0 auto;
    border: none;
    text-align: center;
    color: azure;
    font-size: large;
    text-shadow: 2px 2px 4px rgba(254, 248, 248, 0.5);
}
fieldset{
    border:none
}
.card{
    box-shadow: 2px 4px 8px 0 rgba(255,255,255);
    transition: 0.3s;
    height: 10%;
    width: 55%;
    margin:4.5% auto 0 auto;
    background-color: black;
    border-radius: 10px;
    background-attachment: fixed;
    border: none;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(255,0,0,0.2);
    background-color: rgba(255,0,0,0.2);
    /* border-radius: 10px; */
    
}
input[type="text"]{
    width: 100%;
    padding:10px 0px 10px 0px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(255,0,0,0.2);
    border-radius: 10px;
    margin: 5px 0;
    
}
input[type="password"]{
    width: 100%;
    padding:10px 0px 10px 0px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(255,0,0,0.2);
    margin: 5px 0;
    border-radius: 10px;
    
}
input[type="email"]{
    width: 100%;
    padding:10px 0px 10px 0px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(255,0,0,0.2);
    margin: 5px 0;
    border-radius: 10px;
}
label{
    color: white;
    margin-top:10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px rgba(254, 248, 248, 0.5);
}
button{
    padding: 10px;
  border: 1px solid gray;
  background-color:white;
  border-radius: 10px;
  font: inherit;
  margin-left:40%;
  margin-right:50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);


}
button:hover{
    background-color: black;
    color: white;
    
}
select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px 0px 10px 0px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(255,0,0,0.2);
    margin: 5px 0;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(254, 248, 248, 0.5);
}
input[type="radio"]{
    margin-left: 0%;
}
@media(max-width:1500px){
    body{
        background-image: url("https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg");
        background-color: rgba(255,0,0,0.2);
        
    }
   .card:hover{
    box-shadow: 2px 4px 8px 0 rgba(255,255,255);
    transition: 0.3s;
    height: 5%;
    padding: 10px;
    width: 55%;
    margin:3% auto 0 auto;
    background-color: black;
    border-radius: 10px;
    background-attachment: fixed;
   }
   .netflix{
    margin:3% auto 0 auto;
    border: none;
    text-align: center;
    color: azure;
    font-size: large;
    width: 40%;
    max-width: 180px;;
    text-shadow: 2px 2px 4px rgba(254, 248, 248, 0.5);
}
 .back{
    background-color: black;
    
    
}
   

}

